@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
}
#wrapper{
    height:100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective:20px;
}

.container{
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.button{
    /* margin:0 auto; */
    border:1px solid black;
    background-color: red;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    width:150px;
    height:75px;
    position:relative;
    z-index: 1;
    
}

/* .button>h2{
    margin:0 auto;
} */

/* .superior-btn{
    width:100%;
    height:100%;
} */
.superior-btn:hover{   /* does not work with .cover:hover{} */
    
    transition:translate 0.7 ease-in;
    filter:drop-shadow(0 0 7px #333);
    transform:scale(1.05);
}

.cover{
    width:100%;
    height:100%;
    /*   */
    z-index: -1;
}
.btn-text{
    
    position:fixed;
    z-index:-1;
}

.superior-btn:hover .cover{      /* This means i want to do changes on .cover whenever i hover on .superior-btn */
    /* z-index: -1; */
    background-color:black;
    
    animation-name:select;
    animation-duration:3s;
    animation-iteration-count: 1;

    animation-timing-function: ease-in;
    animation-delay: 0.3ms;
    animation-fill-mode: forward;
    /* transform-origin: left; */
}
@keyframes select{
    from{
        width:0%;
    }
    to{
        width:100%;
    }
}